.global-stats > div > span:first-of-type {
    min-width: 200px;
    display: inline-block;
}

.global-stats > div > span > .icon {
    padding: 7px;
}

.global-stats {
    margin: 30px;
}

.global-stats > .divider {
    padding: 30px;
}