.global-content {
    box-shadow: inset -6px 7px 13px 1px #000000ad;
}

.global-stats.profits > div > span:first-of-type {
    min-width: 250px;
    display: inline-block;
}

.global-stats {
    min-width: 300px;
    margin: 30px;
}

.dark .global-stats > div {
    border-top: 1px solid rgba(158, 158, 158, 0.575);
}

.light .global-stats > div {
    border-top: 1px solid rgba(31, 31, 31, 0.822);
}

.dark .global-stats > .separated {
    border-top: 3px solid rgb(255, 255, 255);
}

.light .global-stats > .separated {
    border-top: 3px solid rgb(0, 0, 0);
}

.global-stats > div > span > .icon {
    padding: 7px;
}

.content .ladder-entry {
    margin: 2px;
    border-top: 1px solid rgba(158, 158, 158, 0.575);
    display: flex;
    position: relative;
}

.content .ladder-entry > .progress-bar {
    position: absolute;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.247);
}

.light .content .ladder-entry > .progress-bar {
    position: absolute;
    height: 100%;
    background-color: rgba(45, 219, 1, 0.329);
}

.content .ladder-entry > span {
    display: inline-block;
    margin: 0px 5px;
    z-index: 1;
}

.content .ladder-entry > .value {
    margin-left: auto;
}

.global-stats > .divider {
    padding: 30px;
}

.daily-stats > div {
    margin: 3px;
}

.value-display {
    margin-left: 5px;
}

@media screen and (max-width: 480px) {
    .global-stats {
        padding: 10px;
        margin: 10px;
    }
}