.form > .form-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: green;
    font-weight: bold;
    cursor: pointer;
}

.form > .form-button:active {
    transform: translateY(1px) translateX(1px);
  }

  .form > .form-button:hover {
    filter: brightness(90%);
  }

.input-grid > div > span {
    min-width: 100px;
    display: inline-block;
}

.input-grid > div > input {
    max-width: 60px;
}
