.form > .form-button {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 105px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.425);
    background-color: green;
    font-weight: bold;
    cursor: pointer;
}

.form > .form-button:active {
    transform: translateY(1px) translateX(1px);
  }

.form > .form-button:hover {
  filter: brightness(90%);
}

.accounting-span {
  min-width: 100px;
  display: inline-block;
}

.accounting-input {
  max-width: 60px;
}

.input-grid {
  margin: 50px;
}


.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear:both;
}
