.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: auto;
    height: 60px;
    color: rgba(255, 255, 255, 0.904);
    background-color: #282c34;
    right: 0;
    position: fixed;
    z-index: 1000;
    font-size: 14px;
  }
  .navbar > .nav-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.425);
    font-weight: bold;
  }

  .navbar > .nav-button > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
  }

  .navbar > .nav-button:active {
    transform: translateY(1px) translateX(1px);
  }

  .navbar > .nav-button:hover {
    filter: brightness(90%);
  }

  .navbar > .nav-button.active {
    padding: 15px;
  }
