@import "../../constants.css";

.help {
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 80px;
    right: 30px;
    border-radius: 3px;
    background-color: rgb(16, 160, 255);
    border: 2px solid rgba(255, 255, 255, 0.842);
    padding: 10px;
    color: white;
    font-weight: bold;
}

.help i {
    margin: 5px;

}

.help-button .fa-check {
    color: var(--green);
}

.help-button .fa-times {
    color: var(--red);
}

.help-link > a {
    color: white;
}

iframe {
    transition: width 0.5s;
    transition: height 0.5s;
}

@media screen and (max-width: 1000px) {
    iframe {
        width: 480px;
        height: 240px;
    }
}

@media screen and (max-width: 520px) {
    iframe {
        width: 240px;
        height: 120px;
    }
}