.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page {
  min-height: 100vh;
}

.page.dark {
  background-color: #282c34;
  color: white;
}

.page.light {
  background-color: #cac3bb;
  color: black;
}

.ml-auto {
  margin-left: auto;
}

.content {
  padding-top: 70px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 10px solid rgba(255, 255, 255, 0.226);
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

.inline {
  display: inline;
}

.spaced {
  margin: 5px;
}

.value-display {
  float: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
    color: #fff;
    background: #226fbe;
    cursor: pointer;
}

.button::after {
  color: #fff;
  background: #003972;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
  background-color: #72b352;
}

.blue {
  background-color: rgb(102, 168, 255);
}

.purple {
  background-color: rgb(115, 81, 194);
}

.warning {
  background-color: rgb(235, 166, 64);
}

.alert {
  background-color:#bd483b;
}

.darker {
  background-color: rgba(0, 0, 0, 0.384);
}

.form-button {
  padding: 10px;
  margin: 20px;
  color: white;
  border-radius: 3px;
  width: 105px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.425);
  background-color: #72b352;
  font-weight: bold;
  cursor: pointer;
}

.form-button:active {
  transform: translateY(1px) translateX(1px);
}

.form-button:hover {
  filter: brightness(90%);
}

.ml-10 {
  margin-left: 10px;
}

.accueil-wrapper {
  display: flex;
  justify-content: center;
  background: radial-gradient(farthest-corner at 90vw 10vh,#7397a1 1%,#f3e3c6 100%);
}

.dark .accueil-wrapper {
  display: flex;
  justify-content: center;
  background: radial-gradient(farthest-corner at 95vw 10vh,#4c75c5 1%,#000000 100%);
}

.light-icon-wrapper {
  border-radius: 50%;
  background-color: rgb(255, 223, 162);
  box-shadow: 5px -2px 14px -5px #00000086;
  width: 25px;
  padding: 5px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 30px;
}

.light-icon-wrapper:hover {
  background-color:  rgb(17, 20, 68);
}

.light-icon-wrapper:active {
  transform: translateY(1px) translateX(1px);
}

.light-icon {
  margin-top: 4px;
  color: black;
}

.dark .light-icon-wrapper {
  background-color:  rgb(17, 20, 68);
  box-shadow: -9px 6px 14px -5px #00000086
}

.dark .light-icon-wrapper:hover {
  background-color:  rgb(255, 223, 162);
}

.dark .light-icon {
  color: white;
}
