.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.page {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.content {
  padding-top: 70px;
  display: flex;
}

.clickable {
  cursor: pointer;
}

.inline {
  display: inline;
}

.spaced {
  margin: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
    color: #fff;
    background: #226fbe;
    cursor: pointer;
}

.button::after {
  color: #fff;
  background: #003972;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green {
  background-color: rgb(48, 172, 48);
}

.blue {
  background-color: rgb(102, 168, 255);
}

.purple {
  background-color: rgb(123, 78, 232);
}

.warning {
  background-color: rgb(235, 166, 64);
}

.alert {
  background-color:rgb(209, 50, 50);
}

.darker {
  background-color: rgba(0, 0, 0, 0.384);
}
